*{
   font-family:Arial;
}
.container{
   height: 500px;
   background: #ccc;
   display:flex;
   justify-content:space-around;
   align-items: center;
   position:relative;
}
.info{
   position:absolute;
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   align-items: center;
   box-shadow: 5px 5px 10px #888;
}
.info#inicio-jogo{
   height:400px;
   width:400px;
   background:#ccf;
   visibility:hidden;
}
.info#mensagem-jogo{
   background:#eee;
   width:350px;
   height:300px;
   visibility:hidden;
}

.area-jogo{
   width:450px;
   height:450px;
   border:1px solid black;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items: center;
   box-sizing: border-box;
}
.linha{
   display:flex;
   /* border:1px solid black; */
}
.casa{
   width:130px;
   height:130px;
   /* background:#eee; */
   margin:5px;
}
.linha:nth-child(even){
   border-bottom: 5px solid black;
   border-top: 5px solid black;
}
.casa:nth-child(even){
   border-left: 5px solid black;
   border-right: 5px solid black;
}
.identificador{
   width:50px;
   height:50px;
   border:1px solid black;
}